---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
    <p class="mb-2">
			Junior Full Stack Web Developer | 🔬 Artistic Mind, Architect of Patterns & Code<br> <br>

Graduated and full of ideas – now I’m here to experiment and push the boundaries of what code can do and to tackle the web
development universe! I’m a full stack developer with a background in art and design, constantly exploring new ways to blend
creativity with cutting-edge technology and to craft smooth, organized structures.
		</p>
		<p class="mb-2">
      <strong>Front-End:</strong> I build clean, structured layouts that are a joy to navigate.
      Playing with Flexbox, grid and building pixel-perfect layouts that follow patterns such as
      responsiveness and modular design.
      <strong>Tools:</strong>HTML, CSS, JavaScript and React
    </p><br>
    <p class="mb-2">
      <strong>Back-End:</strong> Structuring APIs and databases to make sure data flows like clockwork,
       where every part has its place in the system. Keeping everything in check, organized, and on track,
       like branches in a tree.
       <strong>Tools:</strong> Ruby on Rails, Node.js, MongoDB
    </p><br>
    <p class="mb-2">
      <strong>UI/UX:</strong> Designing UI patterns and UX flows that prioritize user needs and create smooth journeys.
    </p>
	</div>

</section>
